{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-right">
        <a class="btn btn-primary" href="{{ path('teams_add') }}">+</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Teamleiter</th>
        </tr>
        </thead>
        {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>
                    {% if team.gruppenLeiter %}
                        {{ team.gruppenLeiter.vorname }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}