{% extends 'base.html.twig' %}

{% block body %}
    <form>
        <div class="form-row">
            <label for="event_date">Datum</label>
            <input type="date" id="event_date" onchange=""
        </div>
    </form>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}