<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{{ path('programme_view') }}">Programme</a>
    <a href="#">Jahresplan</a>
    <a href="{{ path('teams_list') }}">Teams</a>
    <a href="#">Dein Team</a>
    <a href="{{ path('kinder_list') }}">Kinder</a>
    <a href="{{ path('leiters_list') }}">Leiter</a>
    <a href="#">Einstellungen</a>
</div>